@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300;0,400;0,500;0,700;0,900;1,400&family=Rubik:wght@100;300;400;500&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #1f2937;
  color: #eee;
  font-family: 'roboto', Arial, Helvetica, sans-serif;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  margin: 16px 170px;
  margin-bottom: 100px;
}

.logo {
  font-size: 24px;
}

li {
  list-style-type: none;
}

.links {
  display: flex;
  font-size: 18px;
  gap: 10px;
}

.link {
  color: #e5e7eb;
  text-decoration: none;
}

.link:hover {
  color: #3882f6;
  transition: ease-in-out 0.1s;
}

.section-one {
  display: flex;
  justify-content: space-between;
  margin: 16px 170px 0;
  height: 470px;
}

.hero-title {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
  max-width: 400px;
}

.hero-text {
  font-size: 18px;
  color: #e5e7eb;
  max-width: 430px;
  opacity: 0.8;
  margin: 10px 0;
}

.signup-btn {
  color: #f9faf8;
  font-weight: 600;
  background: #3882f6;
  padding: 8px 28px;
  border: 0;
  border-radius: 8px;
}

.btn:hover {
  cursor: pointer;
}

.btn:active {
  transform: scale(0.98);
}

.img {
}

.app-mockup {
  border-radius: 20px 20px 0 0;
  width: 350px;
  height: 470px;
}

.section-two {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
  color: #000;
}

.section-title {
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
  margin-top: 50px;
}

.section-2-img {
  width: 150px;
  height: 150px;
}

.activity-tracker {
  width: 140px;
  height: 150px;
}

.section-two-cards {
  display: flex;
}

.section-two-card {
  margin: 20px;
}

.section-two-img {
  border: 3px solid #3882f6;
  border-radius: 14px;
  width: 150px;
  height: 150px;
}

.section-two-subtext {
  max-width: 150px;
  text-align: center;
  margin-bottom: 100px;
}

.section-three {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #1f2937;
  background: #e5e7eb;
}

.quote {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  max-width: 740px;
}

.cite {
  color: #1f2937;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  padding-right: 30px;
}

.section-four {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
  padding: 100px 0;
}

.section-four-card {
  display: flex;
  justify-content: space-between;
  background: #3882f6;
  padding: 50px 80px;
  width: 850px;
  border-radius: 8px;
}

.card-btn {
  background: transparent;
  color: #e5e7eb;
  border: 2px solid #e5e7eb;
  border-radius: 4px;
  padding: 0 28px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px;
}
